<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="csu.db.bankmanage.persistence.DepositMapper">

    <cache/>

    <insert id="depositMoney" statementType="CALLABLE">
        {call deposit_money(
		#{cardId, mode=IN},
		#{time, mode=IN},
		#{money, mode=IN})}
    </insert>

    <select id="findDepositRecordByUserId" parameterType="int" resultType="java.util.HashMap"  useCache="false">
        SELECT * FROM DEPOSIT WHERE CARD_ID IN (SELECT ID FROM CARD WHERE USER_ID = #{userId})
    </select>

</mapper>