<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/template_head::head('password')">

</head>
<body>

<!-- begin::preloader-->
<div th:replace="commons/layout::preloader">

</div>
<!-- end::preloader -->

<!-- begin::navigation -->
<div th:replace="commons/layout::navigation">

</div>
<!-- end::navigation -->

<!-- begin::main -->
<div id="main">

    <!-- begin::header -->
    <div th:replace="commons/layout::main_header">

    </div>
    <!-- end::header -->

    <!-- begin::main-content -->
    <div class="main-content">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Password</h2>
                            <h5 th:text="${info}" style="color: red"></h5>
                            <div class="row">
                                <div class="col-md-8">
                                    <form action="/password" method="post">
                                        <div class="form-group">
                                            <label for="NewPassword">New Password</label>
                                            <input type="password" class="form-control" id="NewPassword" name="newPassword"
                                                   placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="RepeatNewPassword">Repeat New Password</label>
                                            <input type="password" class="form-control" id="RepeatNewPassword" name="repeatPassword"
                                                   placeholder="Repeat New Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <input type="password" class="form-control" id="Password" name="password"
                                                   placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr class="m-0">
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end::main-content -->

    <!-- begin::footer -->
    <footer th:replace="commons/layout::main_footer">

    </footer>
    <!-- end::footer -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- App scripts -->
<script src="assets/js/app.min.js"></script>
</body>
</html>