<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/template_head::head('createCard')">

</head>
<body>

<!-- begin::preloader-->
<div th:replace="commons/layout::preloader">

</div>
<!-- end::preloader -->

<!-- begin::navigation -->
<div th:replace="commons/layout::navigation">

</div>
<!-- end::navigation -->

<!-- begin::main -->
<div id="main">

    <!-- begin::header -->
    <div th:replace="commons/layout::main_header">

    </div>
    <!-- end::header -->

    <!-- begin::main-content -->
    <div class="main-content">
        <div class="card">
            <div class="card-body">
                <form action="/createCard" method="post">
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="username">User</label>
                            <input type="text" id="username" class="form-control" placeholder="User name" th:value="${session.username}">
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="cardNum">Card Number</label>
                        <input type="text" class="form-control" id="cardNum"
                               placeholder="Enter Card Number" name="cardNum">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- end::main-content -->

    <!-- begin::footer -->
    <footer th:replace="commons/layout::main_footer">

    </footer>
    <!-- end::footer -->

</div>
<!-- end::main -->

<div th:replace="commons/layout::end">

</div>

</body>
</html>


