<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.min.css" type="text/css">
</head>
<body class="error-page bg-white">

<div>
    <h4 class="mb-0 text-muted font-weight-normal">Upps! Access Denied!</h4>
    <div>
        <span class="error-page-item font-weight-bold">5</span>
        <span class="error-page-item font-weight-bold">0</span>
        <span class="error-page-item font-weight-bold">3</span>
    </div>
    <a href="/home" class="btn btn-outline-light btn-lg">Go Home</a>
</div>

<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- App scripts -->
<script src="assets/js/app.min.js"></script>
</body>
</html>