<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="${title}">Home</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

        <!-- Plugin styles -->
        <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

        <!-- Datepicker -->
        <link rel="stylesheet" href="vendors/datepicker/daterangepicker.css">

        <!-- Slick -->
        <link rel="stylesheet" href="vendors/slick/slick.css">
        <link rel="stylesheet" href="vendors/slick/slick-theme.css">

        <!-- Vmap -->
        <link rel="stylesheet" href="vendors/vmap/jqvmap.min.css">

        <!-- App styles -->
        <link rel="stylesheet" href="assets/css/app.min.css" type="text/css">

    </head>
</html>